.List{
    margin-top: 100px;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1{
       color:black;
       font-size: 2rem;
    }

    .List-search{
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        width:50%;

        .list-search-input{
           
            margin:1rem;
            width:80%;
            

            input{
                border:none;
                border-bottom: 1px solid gray;
                width:100%;
                color:black;
                font-size: 1rem;
                padding:0.8rem 0;
                
    
                &:focus{
                    outline:none;
                    border-bottom: 2px solid red;
                    background-color: white;
                }
            }
    
            select{
                width:10%;
                border:none;
                padding:0.5rem 0;

                &:focus{
                    outline:none;
                }
            }
        }

        .list-search-btn{
            display:flex;
            flex-direction: column;
            justify-content: space-around;
            width:10%;
            height:9vh;

            button{
                height:25px;
                border:none;
                background-color: white;
                color:black;
                cursor:pointer;
                font-size: 1rem;

                &:hover{
                    color:white;
                    background-color: black;
                    font-size:0.8rem;
                    border-radius: 5px;
                    

                }
            }
            
        }
    }


    h1{
        color:black;
        font-size: 2rem;
        margin-top:2rem;
     }
   
    .list__inner{
        margin-top:50px;
        width:70%;
        height:100%;
        display:flex;
        justify-content: center;
        flex-wrap:wrap;
      
    }

    .fruit{
        text-decoration: none;
        color:black;
        cursor:pointer;
        margin:0.5rem;
        font-size: 2rem;
    }

    .fruit:hover{
        color: rgb(155, 255, 5);
        scale: 1.1;
    }

}