@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

*{
    font-family: 'Ubuntu', sans-serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;

}

.Container{
   
    width:100%;
    display:flex;
    margin-top:5rem;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;

    .container-header{
        width:50%;
        display:flex;
        align-items: center;
        justify-content: space-between;
        padding:1rem;

        @media screen and (min-width: 375px) and (max-width:1023px){
            width:100%; 
            padding:3rem;
        }
     

        h1{
            font-size: 2rem;
        }

        .update-button{
            width:45px;
            height: 35px;
            
            background-color: white;
            border:none;
            font-size: 1rem;
            cursor:pointer;
            font-size: 2rem;
            
            &:hover{
                font-size: 1.5rem;
                color:red;
            }
        }
    }

    .container-text{
        width:50%;
        height:auto;
        margin:1rem 0;

        @media screen and (min-width: 375px) and ( max-width:1023px) {
            width:100%;
            padding:3rem;
            
        }
      
        ul{
            list-style-type: none; 
            width:100%;
            margin:0;
            padding:1rem;

                li{
                    padding:1rem 0;
                    width:100%;

                    .countries{
                        width:100%;
                        display:flex;
                        flex-wrap: wrap;
                        justify-content: left;
                        align-content:flex-start;

                        p::after{
                            content:",";
                            margin-right:0.5rem;
                            margin-top:1rem;
                         }

                         p:last-child::after{
                            content:".";
                         }
                        
                    }
                }
        }
        

        .container-form{
            display:flex;
            flex-direction:column;
            width:100%;
            padding: 1rem 0;

            .container_form_field{
                width:100%;
                padding:1rem;

              
          
            }

            input[type="submit"]{
                margin:2rem 0rem;
                border:none;
                background-color: white;
                cursor:pointer;
                align-self: flex-end;
                font-size: 2rem;
                color:black;
                width:100px;
                height:50px;

                &:hover{
                    margin-top:2rem;
                    font-size: 1.5rem;
                    border-radius: 10px;
                    border:1px solid black;
                    background-color: black;
                    color:white;
                   
                }
            }

        }

    }

    
}


    


 

    


